<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x64;x86"/>
    </assemblyBinding>
  </runtime>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="users"  connectionString="Data Source=|DataDirectory|\users.db3;Version=3;Journal Mode=Persist" providerName="System.Data.SQLite"/>
    <add name="elements"  connectionString="Data Source=|DataDirectory|\elements.db3;Version=3;Journal Mode=Persist" providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>
